<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pizza21.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>86015D74D4461A7ED11E2F7FE37EA15CACD5FDEC</string>
				<key>dateExpires</key>
				<string>16/09/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7DJW6Q3672.com.fabintel.thepizzaapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7DJW6Q3672</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Pizza21.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b97ba6ed-d35d-4b0a-b3cc-9fe098cceef4</string>
				<key>dateExpires</key>
				<string>25/01/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.fabintel.thepizzaapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7DJW6Q3672</string>
				<key>name</key>
				<string>Ahsan Meraj</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
